footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--padding);
    background: var(--color5);
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    padding: 50px 0;

}

footer .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
}

footer .item {
    flex: 1;
}

footer .item .logo {
    display: flex;
    align-items: center;
}

footer .item .logo img {
    width: 100%;
    max-width: 100px;
    object-fit: contain;
}

footer .item .logo span {
    color: var(--color5-contrast1);
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold;
}

footer .item p {
    color: var(--color5-contrast2);
    text-align: left;
    font-size: 0.9rem;
}

footer .item h4 {
    margin-top: 40px;
    color: var(--color5-contrast1);
    font-weight: normal;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

footer .item ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    margin-top: 30px;
}

footer .item ul li {
    display: flex;
}

footer .item ul li a {
    text-decoration: none;
    color: var(--color5-contrast2);
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1rem;
    transition: all 0.2s ease;
}

footer .item ul li a:hover {
    text-decoration: underline;
    transition: all 0.2s ease;
}

footer .final {
    margin-top: 50px;
    color: var(--color5-contrast2);
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-align: center;
}

footer .final a {
    text-decoration: none;
    color: var(--color5-contrast2);
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: all 0.2s ease;
}


footer .final a:hover {
    text-decoration: underline;
    transition: all 0.2s ease;
}

@media (max-width: 1200px) {
    footer .items {
        grid-gap: 50px;
    }
}

@media (max-width: 1000px) {
    footer .items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    footer .items {
        grid-template-columns: repeat(1, 1fr);
    }
    
    footer .final {
        margin-top: 70px;
    }
}
