.galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--padding);
    background: var(--color3);
}

.galeria .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    padding-top: 100px;
}

.galeria .item {}

.galeria .swiper {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.galeria .swiper .swiper-wrapper {
    padding: 20px;
}

.galeria .swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15%;
}

.galeria .swiper .screen {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    display: block;
    margin: auto;
    transform: translate(-50%, -50%);
    width: calc(100%);
    height: calc(100% - 8px);
}

.galeria .swiper .screen img {
    /*    display: none;*/
    width: 100%;
    height: 100%;
}

.galeria .item {
    flex: 1;
}

.galeria .item .text {
    color: var(--color3-contrast2);
}

.galeria .item .text span {
    position: relative;
    padding: 0 10px;
    color: var(--color3-contrast2);
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
    margin-bottom: 30px;
    margin-right: auto;
}

.galeria .item .text span:before,
.galeria .item .text span:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    margin: auto;
}

.galeria .item .text span:before {
    left: 100%;
}

.galeria .item .text span:after {
    right: 100%;
}

.galeria .item .text h3 {
    color: var(--color3-contrast1);
    font-size: 1.6rem;
    font-weight: normal;
    margin: 40px 0;
}

.galeria .item .text p {
    line-height: 2.3rem;
}


@media(max-width: 900px) {
    .galeria .container {
        flex-direction: column-reverse;
    }

    .galeria .swiper {
        max-width: 250px;
    }

    .galeria .item .text {
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
    }
}
