header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 var(--padding);
    transition: background 0.2s ease;
}

header.float {
    background: var(--color1);
    transition: background 0.2s ease;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    height: 100%;
}

header .logo span {
    color: var(--color1-contrast1);
    font-size: 1rem;
    letter-spacing: 1px;
}

header .logo img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header nav,
header nav ul {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

header nav ul li {}

header nav ul li a {
    position: relative;
    text-decoration: none;
    color: var(--color1-contrast1);
    padding: 5px 0;
}

header nav ul li a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color1-contrast1);
    opacity: 0;
    transition: opacity 0.2s ease;
}

header nav ul li a.active:before,
header nav ul li a:hover:before {
    opacity: 1;
    transition: opacity 0.5s ease;
}